main {
  width: 90%;
  max-width: 360px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  padding: 32px 24px 24px;
  border-radius: 16px;
  color: white;
}

.banner {
  width: 100%;
}

.banner > img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
}

main > p {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  text-align: center;
}

main > button {
  margin-top: 32px;
}